<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/GlobalStyle.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="stylesheet" href="../assets/css/templates/sidebar.css">
  <link rel="stylesheet" href="../assets/css/templates/topbar.css">
  <link rel="stylesheet" href="../assets/css/templates/menubar.css">
  <link rel="stylesheet" href="../assets/css/cursos/style.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <title>Catarina</title>
</head>

<body>
  <div class="container">
    <div class="section">
      <div class="sidebar">
        <div class="logo">
          <h1>Catarina</h1>
          <h2>C</h2>
        </div>
        <hr>
        <div class="content" style="margin-top: 10px;">
          <a href=""><i class="fas fa-home"></i><span>Dashboard</span></a>
        </div>
        <div class="content">
          <a href=""><i class="fas fa-book"></i><span>Cursos</span></a>
        </div>
        <div class="content">
          <a href=""><i class="fas fa-user-graduate"></i><span>Alunos</span></a>
        </div>
        <hr>
      </div>
      <div class="groups">
        <div class="topbar">
          <div class="content_top_bar">

            <div class="content_top_bar_pesquisar">
              <input type="text" id="pesquisar" name="pesquisar">
              <div class="lupa">
                <a href=""><i class="fas fa-search"></i></a>
              </div>
            </div>

            <div class="content_top_bar_user">
              <span>Teste</span>
              <a href=""><i class="fas fa-user"></i></a>
            </div>

            <div class="content_top_bar_config">
              <a href=""><i class="fas fa-cog"></i></a>
              <a href=""><i class="fas fa-sign-out-alt"></i></a>
            </div>
          </div>
        </div>
        <div class="main">
          <div class="container_main">
            <div class="infos">
              <div class="icons_infos">
                <a href=""><i class="fas fa-plus"></i></a>
              </div>
            </div>
            <div class="infos">
              <div class="img_infos">
                <div class="dropdown">
                  <button class="dropbtn"><i class="far fa-edit"></i></button>
                  <div class="dropdown-content">
                    <a href="#">Editar</a>
                    <a href="#">Excluir</a>
                  </div>
                </div>

                <img
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQMAAADCCAMAAAB6zFdcAAAAA1BMVEX/9ABpMi2OAAAASElEQVR4nO3BMQEAAADCoPVPbQwfoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIC3AcUIAAFkqh/QAAAAAElFTkSuQmCC"
                  alt="">

              </div>

              <a href="./aulas.html" style="width: 100%">
                <h2>PHP</h2>
                <div class="infos_content">
                  <i class="far fa-clock"></i>
                  <span>1h</span>
                  <span>10 lições</span>
                </div>
              </a>
            </div>

            <div class="infos">
              <div class="img_infos">
                <div class="dropdown">
                  <button class="dropbtn"><i class="far fa-edit"></i></button>
                  <div class="dropdown-content">
                    <a href="#">Editar</a>
                    <a href="#">Excluir</a>
                  </div>
                </div>

                <img
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQMAAADCCAMAAAB6zFdcAAAAA1BMVEX/9ABpMi2OAAAASElEQVR4nO3BMQEAAADCoPVPbQwfoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIC3AcUIAAFkqh/QAAAAAElFTkSuQmCC"
                  alt="">

              </div>

              <a href="" style="width: 100%">
                <h2>JavaScript</h2>
                <div class="infos_content">
                  <i class="far fa-clock"></i>
                  <span>1h</span>
                  <span>10 lições</span>
                </div>
              </a>
            </div>

            <div class="infos">
              <div class="img_infos">
                <div class="dropdown">
                  <button class="dropbtn"><i class="far fa-edit"></i></button>
                  <div class="dropdown-content">
                    <a href="#">Editar</a>
                    <a href="#">Excluir</a>
                  </div>
                </div>

                <img
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQMAAADCCAMAAAB6zFdcAAAAA1BMVEX/9ABpMi2OAAAASElEQVR4nO3BMQEAAADCoPVPbQwfoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIC3AcUIAAFkqh/QAAAAAElFTkSuQmCC"
                  alt="">

              </div>

              <a href="" style="width: 100%">
                <h2>JavaScript</h2>
                <div class="infos_content">
                  <i class="far fa-clock"></i>
                  <span>1h</span>
                  <span>10 lições</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>

  <div class="menubar">
    <div class="content_menu_bar">
      <button type="submit" id="teste"><i class="fas fa-bars"></i></button>
      <a href=""><i class="fas fa-user"></i></a>
      <a href=""><i class="fas fa-sign-out-alt"></i></a>
    </div>
  </div>

  <div class="overlay"></div>
  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript" src="../assets/js/index.js"></script>
</body>

</html>