<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/GlobalStyle.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="stylesheet" href="../assets/css/templates/sidebar.css">
  <link rel="stylesheet" href="../assets/css/templates/topbar.css">
  <link rel="stylesheet" href="../assets/css/templates/menubar.css">
  <link rel="stylesheet" href="../assets/css/dashboard/main.css">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <title>Catarina</title>
</head>

<body>
  <div class="container">
    <div class="section">
      <div class="sidebar">
        <div class="logo">
          <h1>Catarina</h1>
          <h2>C</h2>
        </div>
        <hr>
        <div class="content" style="margin-top: 10px;">
          <a href="/"><i class="fas fa-home"></i><span>Dashboard</span></a>
        </div>
        <div class="content">
          <a href="./cursos.html"><i class="fas fa-book"></i><span>Cursos</span></a>
        </div>
        <div class="content">
          <a href=""><i class="fas fa-user-graduate"></i><span>Alunos</span></a>
        </div>
        <hr>
      </div>
      <div class="groups">
        <div class="topbar">
          <div class="content_top_bar">

            <div class="content_top_bar_pesquisar">
              <input type="text" id="pesquisar" name="pesquisar">
              <div class="lupa">
                <a href=""><i class="fas fa-search"></i></a>
              </div>
            </div>

            <div class="content_top_bar_user">
              <span>Teste</span>
              <a href=""><i class="fas fa-user"></i></a>
            </div>

            <div class="content_top_bar_config">
              <a href=""><i class="fas fa-cog"></i></a>
              <a href=""><i class="fas fa-sign-out-alt"></i></a>
            </div>
          </div>
        </div>
        <div class="main">
          <div class="content_main">
            <div class="infos">
              <div class="infos_icon">
                <i class="fas fa-book"></i>
              </div>

              <div class="infos_content">
                <h2>7</h2>
                <span>Cursos</span>
              </div>
            </div>

            <div class="infos">
              <div class="infos_icon">
                <i class="fas fa-book-open"></i>
              </div>

              <div class="infos_content">
                <h2>7</h2>
                <span>Aulas</span>
              </div>
            </div>

            <div class="infos">
              <div class="infos_icon">
                <i class="fas fa-user-graduate"></i>
              </div>

              <div class="infos_content">
                <h2>7</h2>
                <span>Alunos</span>
              </div>
            </div>

            <div class="infos">
              <div class="infos_icon">
                <i class="fas fa-book"></i>
              </div>

              <div class="infos_content">
                <h2>7</h2>
                <span>Trabalhos</span>
              </div>
            </div>
          </div>

          <div class="content_main2">
            <div class="infos2" style="@media (min-width: 1000px) {margin-right: 20px}">
              <div class="n5">
                <h2>Alunos</h2>
              </div>

              <div class="n6">
                <a href=""><i class="fas fa-user"></i>Alana</a>
              </div>

              <div class="n6">
                <a href=""><i class="fas fa-user"></i>Gustavo</a>
              </div>
            </div>

            <div class="infos2">
              <div class="n5">
                <h2>Cursos</h2>
              </div>

              <div class="n6">
                <a href=""><i class="fas fa-book"></i></a>
              </div>

              <div class="n6">
                <a href=""><i class="fas fa-book"></i></a>
              </div>
            </div>

            <div class="infos2">
              <div class="n5">
                <h2>Aulas</h2>
              </div>

              <div class="n6">
                <a href=""><i class="fas fa-book-open"></i></a>
              </div>

              <div class="n6">
                <a href=""><i class="fas fa-book-open"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>

  <div class="menubar">
    <div class="content_menu_bar">
      <button type="submit" id="teste"><i class="fas fa-bars"></i></button>
      <a href=""><i class="fas fa-user"></i></a>
      <a href=""><i class="fas fa-sign-out-alt"></i></a>
    </div>
  </div>

  <div class="overlay"></div>
  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript" src="../assets/js/index.js"></script>
</body>

</html>